/*developed with Alex Nelson*/

body {
    background-image: url("images/Background image.png");
    font-family: 'Overpass Mono', monospace;
}

.content {
    margin: auto;
}

* {
    /*box-sizing: border-box;*/
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

fieldset {
    boarder: none;
}

input[type=checkbox] {
    display: block;
    width: 35px;
    height: 35px;
    -webkit-appearance: none;
    outline: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

input[type=checkbox]:not(:checked) {
    background-image: url(images/unlock.png);
    display: inline-block;
}

input[type=checkbox]:checked {
    background-image: url(images/lock.png);
    display: inline-block;
}

p {
    /*display: block;*/
    /*margin-top: 1em;*/
    /*margin-bottom: 1em;*/
    /*margin-left: 0;*/
    /*margin-right: 0;*/
}

button {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 18px;
    border: transparent;
    background: transparent;

}

h1 {
    text-align: center;
}

a {
    /*color: hotpink;*/
    color: black;
}

div {
    /*//background-color: #FFFFFF;*/
    /*//width: 30px;*/
    /*//border: 25px;*/
    /*padding: 25px;*/
    /*//margin: 25px;*/
    /*text-transform: capitalize;*/
}

.floating-box {
    /*display: inline-block;*/
    float: left;
    text-align: center;
    width: 32%;
    height: 50%;
    margin: auto;
    /*border: 3px solid #73AD21;*/
    /*font-size: 1.5em;*/
    font-size: 28px;
    word-wrap: break-word;
}

img {
    vertical-align: center;
    font-family: 'Ubuntu Mono', monospace;
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
}

.footer {
    float: center;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    vertical-align: center;
}

#wrap {
    width: 900px;
    margin: 0 auto;
}