/*Side Project Generator
 *summer 2017
 *developed by Alex Nelson
 *col styling by boostrap
*/

body {
    background-image: url("images/BackgroundImage.png");
    font-family: 'Ubuntu Mono', monospace;
    padding: 115px, 115px, 115px, 115px;
    margin: auto;
    /*max-width: 1280px;*/
}
head { font-family: 'Ubuntu Mono', monospace; }

input[type=checkbox] {
    display: block;
    width: 9vw;
    height: 9vh;
    -webkit-appearance: none;
    outline: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
input[type=checkbox]:not(:checked) {
    background-image: url(images/unlock.png);
    display: inline-block;
    border: none;
    /*background: transparent;*/
}
input[type=checkbox]:checked {
    background-image: url(images/lock.png);
    display: inline-block;
    border: none;
    /*background: transparent;*/
}

button {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 18px;
    border: none;
    background: transparent;
}

h1 { text-align: center; }

a { color: black; }

div {
    /*//background-color: #FFFFFF;*/
    /*//width: 30px;*/
    /*//border: 25px;*/
    /*padding: 25px;*/
    /*//margin: 25px;*/
    /*text-transform: capitalize;*/
    text-align: center;
    font-family: 'Ubuntu Mono', monospace;
}

.floating-box {
    /*display: inline-block;*/
    float: left;
    text-align: center;
    width: 32%;
    height: 50%;
    margin: auto;
    /*border: 1px solid #73AD21;*/
    font-size: 3.5vw;
    /*font-size: 28px;*/
    word-wrap: break-word;
}

img {
    vertical-align: center;
    font-family: 'Ubuntu Mono', monospace;
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
}
.link span{ color:black; font-size:15px; }
.link:hover span{ font-style:italic; }
.blink span{ color:black; /*font-size:15px;*/ }
.blink:hover span{ font-style:italic; }

.footer {
    /*float: center;*/
    text-align: center;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    width: 100%;
    /*vertical-align: center;*/
    /*padding: 1rem;*/
}

.imgA1 {
    position:relative;
    top: -20px;
    left: 0px;
    z-index: 1; 
} 
.imgB1 {
    position:relative;
    top: 10px;
    left: 50px;
    z-index: 3;
}

.block {
    height: 100px;
    width: 100px;
    /*display:inline-block;*/
    margin: 10px;
}

/*  START Bootstrap   */
/*  SECTIONS  ============================================================================= */
.section {
    clear: both;
    margin: 0px;
    padding: 0px;
}

/*  GROUPING  ============================================================================= */
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/*  GRID COLUMN SETUP   ==================================================================== */
.col {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
}

/*  GRID OF FIVE   ============================================================================= */
.span_5_of_5 { width: 100%; }
.span_4_of_5 { width: 79.68%; }
.span_3_of_5 { width: 59.36%; }
.span_2_of_5 { width: 39.04%; }
.span_1_of_5 { width: 18.72%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
    .span_5_of_5 { width: 100%; }
    .span_4_of_5 { width: 100%; }
    .span_3_of_5 { width: 100%; }
    .span_2_of_5 { width: 100%; }
    .span_1_of_5 { width: 100%; }
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
    .span_3_of_3 { width: 100%; }
    .span_2_of_3 { width: 100%; }
    .span_1_of_3 { width: 100%; }
}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */

/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */
@media only screen and (max-width: 480px) {
    .col { margin: 1% 0 1% 0%; }
}
/*  END Bootstrap   */
